<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/about.css">
</head>
<body>
    <nav class="Navbar">
        <div class="logo">
            <img src="static/image/Polish_20241002_175631695.png" width="90px" height="70px" alt="Logo">
        </div>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="service.html">Service</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li class="dropdown">
                <a href="/Industry">Industry</a>
                <div class="dropdown-content">
                    <a href="/industry/healthcare">Healthcare & Medical</a>
                    <a href="/industry/education">Education & Training</a>
                    <a href="/industry/retail">Retail & Fashion</a>
                    <a href="/industry/hospitality">Hospitality & Tourism</a>
                    <a href="/industry/construction">Construction & Real Estate</a>
                    <a href="/industry/automotive">Automotive</a>
                    <a href="/industry/food-beverage">Food & Beverage</a>
                    <a href="/industry/technology">Technology & IT</a>
                    <a href="/industry/finance">Finance & Banking</a>
                    <a href="/industry/manufacturing">Manufacturing</a>
                    <a href="/industry/nonprofit">Non-Profit Organizations</a>
                    <a href="/industry/government">Government & Municipal</a>
                </div>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <section class="team">
        <div class="heading">
            <h2>A Beautiful Team</h2>
            <p>Meet the people who keep our walls standing high. These are the people who play a very 
                significant role in the operation of the business.</p>
        
            <div class="container">
                <div class="slide">
    
                    <div class="item" style="background-image: url(static/image/OPERATION_Team/Senzo_Makhaye.jpg);">
                        <div class="content">
                            <div class="name">Senzo Makhaye</div>
                            <div class="des">Mr Makhaye is a skilled salesman that holds a certificate in 
                            marketing which he obtained at FET college making him responsible for sales 
                            and marketing. He has good communication skills and enthusiasm which help ensure 
                            that our product sells within our target range.</div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(static/image/OPERATION_Team/Tracey_Linda_Philips.jpg);">
                        <div class="content">
                            <div class="name">Tracey Linda Philips</div>
                            <div class="des">PA</div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(static/image/OPERATION_Team/photographer.jpg);">
                        <div class="content">
                            <div class="name">Lwanele Mngadi</div>
                            <div class="des">Photographer/Videographer</div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(static/image/OPERATION_Team/Siyabonga_Zondi.jpeg);">
                        <div class="content">
                            <div class="name">Siyabonga Zondi</div>
                            <div class="des">Creative</div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(static/image/OPERATION_Team/Thando_Nkosi.jpg);">
                        <div class="content">
                            <div class="name">Thando Nkosi</div>
                            <div class="des">Strategic Consultant</div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(static/image/OPERATION_Team/Sabelo_Zuma_Percy.jpg);" hieght="100px" weidth="100px">]
                        [''
                        <div class="content">
                            <div class="name">Sabelo Percy Zuma</div>
                            <div class="des">Production</div>
                        </div>
                    </div>
    
                </div>
           
                <div class="button">
                    <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </section>

    
    <section class="about">
        <div class="about-content">
            <h2>Who Are We?</h2>
            <p>Established in 2020, Sisonke Solutions has swiftly emerged as a dynamic and innovative player in the 
                Pietermaritzburg market, we specializing in comprehensive suite of services that include Printing, 
                Signage, Clothing Supply, Marketing and Advertising. With a keen focus on delivering qaulity 
                and customer-centric solutions. Sisonke Solutions caters to a diverse clientele, aiming to 
                enhance their visibility and impact in the market.

                At the heart of Sisonke Solutions is our founder, Senzo Makhaye, who holds a majority stake, imbuing the 
                company with his visionary leadership and enterpreneurial spirit. His passion for exellence and community 
                partnership, with 25% ownership each by his his grandmother and mother, bringing together traditional values 
                and mordern business acumen. This blend of generational wisdom and innovative drive makes Sisonke Solutions 
                not just a business, but a legacy in the making.
                
                Sisonke Solutions is not merely a provider of services, it is a partner in growth for its clients. We understand 
                the evolving needs of our market and pride ourselves on our ability to offer bespoke solutions that not only meet 
                but exceed expectations. Our portfolio of services is designed to be a one-step solution for businesses seeking to 
                establish or reinforce their brand presence, whether through high-qaulity printed materials, eye-catching signage, 
                tailored clothing supplies or strategic marketing and advertising campaigns.
            </p>
        </div>
    </section>

        <!-- Stats Section -->
        <section class="stats-section">
            <div class="stats-container">
                <div class="stat-item">
                    <div class="stat-number" data-target="3000">0+</div>
                    <div class="stat-label">Projects Completed</div>
                </div>
                <div class="stat-item">
                    <div class="stat-number"data-target="4500">0</div>
                    <div class="stat-label">Services Offered</div>
                </div>
                <div class="stat-item">
                    <div class="stat-number" data-target="15">0</div>
                    <div class="stat-label">Years Experience</div>
                </div>
                <div class="stat-item">
                    <div class="stat-number" data-target="100">0%</div>
                    <div class="stat-label">Client Satisfaction</div>
                </div>
            </div>
        </section>

    <footer>
        <div class="footer-container">
            <div class="address">
                <h2>Address</h2>
                <p>
                    1492 B4 ROAD <br>
                    Edendale A <br>
                    Pietermaritzburg, 3217 <br>
                    Kwa-Zulu Natal
                </p>
            </div>
    
            <div class="social"> 
                <h2>Social</h2>
                <a href="#">
                    <img src="static/image/facebook.png" alt="Facebook" height="40px" width="40px">
                </a>
                <a href="#">
                    <img src="static/image/instagram.png" alt="Instagram" height="40px" width="40px">
                </a>
            </div>
    
            <div class="support">
                <h2>Support</h2>
                <div class="contact-info">
                    <img src="static/image/phone-call.png" alt="Phone: +27 (78) 4643-899" title="+27 (78) 4643-899" height="30px" width="30px">
                    <img src="static/image/email.png" alt="Email: info@sisonkesolutions.co.za" title="info@sisonkesolutions.co.za" height="30px" width="30px">
                </div>
            </div>
        </div>
    </footer>

    <script src="static/js/about.js"></script>
</body>
</html>