<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>

    <nav class="Navbar">
        <div class="logo">
            <img src="static/image/Polish_20241002_175631695.png" width="90px" height="70px" alt="Logo">
        </div>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="service.html">Service</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li class="dropdown">
                <a href="/Industry">Industry</a>
                <div class="dropdown-content">
                    <a href="/industry/healthcare">Healthcare & Medical</a>
                    <a href="/industry/education">Education & Training</a>
                    <a href="/industry/retail">Retail & Fashion</a>
                    <a href="/industry/hospitality">Hospitality & Tourism</a>
                    <a href="/industry/construction">Construction & Real Estate</a>
                    <a href="/industry/automotive">Automotive</a>
                    <a href="/industry/food-beverage">Food & Beverage</a>
                    <a href="/industry/technology">Technology & IT</a>
                    <a href="/industry/finance">Finance & Banking</a>
                    <a href="/industry/manufacturing">Manufacturing</a>
                    <a href="/industry/nonprofit">Non-Profit Organizations</a>
                    <a href="/industry/government">Government & Municipal</a>
                </div>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <section class="home">
        <div class="home-content">
            <div class="big-font">Transforming Ideas into <span class="green-font">Reality</span></div>
            <div class="small-font">
                We will get your design right every time.
                Start <span class="green-font">Today</span>, receive your design 
                <span class="green-font">Tomorrow</span>.
            </div>
            <a href="portfolio.html">
                <button class="button">Portfolio</button>
            </a>
        </div>
        <div class="home-image">
            <img src="static/image/Stuck at Home - Buy Online.png" alt="Home Office Illustration">
        </div>
    </section>

    <section class="paragraph1">
        <h4>A Process Proven To Succeed</h4>
        <p>
            We strive to support you through every step of the sign manufacturing process. 
            Our process begins with a detailed consultation, where our skilled project managers 
            understand your needs and help you explore the best options. From there, our 
            designers and crafters create your sign, and our professional installers ensure 
            it shines for years to come.
        </p>
    </section>

    <section class="break">
        <h1>Why Sisonke Solutions?</h1>
    </section>

    <section class="paragraph2">
        <div class="services-grid">
            <div class="card" data-aos="fade-up" data-aos-delay="100">
                <h3 class="card-title" style="color:#064c38 ;">Quality Printing</h3>
                <p class="card-text">Bright inks, smooth paper, precise cuts! We offer top-tier offset
                     printing with the best equipment to ensure maximum quality.
                </p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="200">
                <h3 class="card-title" style="color:#064c38;">Reprint Guarantee</h3>
                <p class="card-text">Give it a try—no risk involved! If you’re not happy with your
                     product, just reach out, and we’ll reprint it for you. T's & C's apply.
                </p>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="300">
                <h3 class="card-title" style="color:#064c38 ;">Free and Timely Delivery</h3>
                <p class="card-text">Forget heavy lifting! We provide free and reliable delivery locally. 
                    Sit back and track your parcel on its way to you.
                </p>
            </div>
        </div>
    </section>

    <section class="clients">
        <h3 >Trusted By Leading Brands</h3>
        <div class="carousel" id="carousel">
            <div class="slideshow" id="slideshow">
                <div><img src="static/image/Clients/bbbb.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/intulo.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/meat.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture1.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture10.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture11.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture2.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture3.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture4.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture5.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture6.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture7.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture8.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/picture9.jpg" alt="Client Logo"></div>
                <div><img src="static/image/Clients/soul.jpg" alt="Client Logo"></div>
            </div>
            <!-- Navigation arrows -->
            <button class="carousel-nav prev" onclick="previousSlide()">‹</button>
            <button class="carousel-nav next" onclick="nextSlide()">›</button>
        </div>
    
        <!-- Dots indicator -->
        <div class="carousel-dots" id="dots"></div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="address">
                <h2>Address</h2>
                <p>
                    1492 B4 ROAD <br>
                    Edendale A <br>
                    Pietermaritzburg, 3217 <br>
                    Kwa-Zulu Natal
                </p>
            </div>
    
            <div class="social"> 
                <h2>Social</h2>
                <a href="#">
                    <img src="static/image/facebook.png" alt="Facebook" height="40px" width="40px">
                </a>
                <a href="#">
                    <img src="static/image/instagram.png" alt="Instagram" height="40px" width="40px">
                </a>
            </div>
    
            <div class="support">
                <h2>Support</h2>
                <div class="contact-info">
                    <img src="static/image/phone-call.png" alt="Phone: +27 (78) 4643-899" title="+27 (78) 4643-899" height="30px" width="30px">
                    <img src="static/image/email.png" alt="Email: info@sisonkesolutions.co.za" title="info@sisonkesolutions.co.za" height="30px" width="30px">
                </div>
            </div>
        </div>
    </footer>
    

</body>
<script src="static/js/home.js"></script>
</html>
