<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Page</title>
    <link rel="stylesheet" href="static/css/portfolio.css">
</head>
<body>
    <nav class="Navbar">
        <div class="logo">
            <img src="static/image/Polish_20241002_175631695.png" width="90px" height="70px" alt="Logo">
        </div>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="service.html">Service</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li class="dropdown">
                <a href="/Industry">Industry</a>
                <div class="dropdown-content">
                    <a href="/industry/healthcare">Healthcare & Medical</a>
                    <a href="/industry/education">Education & Training</a>
                    <a href="/industry/retail">Retail & Fashion</a>
                    <a href="/industry/hospitality">Hospitality & Tourism</a>
                    <a href="/industry/construction">Construction & Real Estate</a>
                    <a href="/industry/automotive">Automotive</a>
                    <a href="/industry/food-beverage">Food & Beverage</a>
                    <a href="/industry/technology">Technology & IT</a>
                    <a href="/industry/finance">Finance & Banking</a>
                    <a href="/industry/manufacturing">Manufacturing</a>
                    <a href="/industry/nonprofit">Non-Profit Organizations</a>
                    <a href="/industry/government">Government & Municipal</a>
                </div>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
        <section class="project-section">
            <div class="project-nav">
                <a href="#">All Projects</a>
                <a href="#">Outdoor Branding</a>
                <a href="#">Indoor Branding</a>
                <a href="#">Graphic Design</a>
                <a href="#">Clothing</a>
                <a href="#">Logo</a>
                <a href="#">Vehicle Branding</a>
                <a href="#">Logo</a>
            </div>
        
            <div class="project-gallery">
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/images(3).jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/IMG-20240912-WA0138.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/IMG-20240912-WA0066.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/20210525_131800.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/IMG_20240927_170411_504.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/IMG-20230723-WA0012.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/IMG-20240912-WA0048.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/BlueMoonSignange.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/Just_Build_Sign_(1).jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/WhatsApp-Image-2022-05-02-at-2.29.34-PM.jpeg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/IMG-20240912-WA0166.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/IMG-20240916-WA0031.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/IMG_20240928_142033_819.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="outdoor-branding">
                    <img src="static/image/img/IMG_20240912_152936_934.jpg" alt="Outdoor Branding">
                </div>
                <div class="project-item" data-category="indoor-branding">
                    <img src="static/image/img/SHESHA_Indoor1.jpg" alt="Indoor Branding">
                </div>
                <div class="project-item" data-category="indoor-branding">
                    <img src="static/image/img/SHESHA_Indoor2.jpg" alt="Indoor Branding">
                </div>
                <div class="project-item" data-category="indoor-branding">
                    <img src="static/image/img/SHESHA_Indoor3.jpg" alt="Indoor Branding">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/IMG-20230723-WA0012.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/IMG-20240410-WA0159.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/IMG-20240528-WA0101.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/IMG-20240528-WA01012.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/justcleanitposter.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/JustCleanitCalendar20251.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/MakFurnealbanner.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/SIYOPULLUPBANNERMOCKUP.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/SINGILA_BUSINESS_CARDS2.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/Mobile_Medicare _Business_Cards_2.jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="graphic-design">
                    <img src="static/image/img/PVCBannerSign(1).jpg" alt="Graphic Design">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/AFRO_Q_ORGANICS_hoodie_1.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/clothing1.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/T-shirtMockUp.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/T-shirtMockUpParther2.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/clothing2.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/clothing3.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/clothing4.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/clothing5.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/clothing6.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/clothing7.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/clothing8.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/CrossFire_Golfer .jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/Hlophe_Mock_Up_Tee.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/NETBALL_Half_Caps1.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/PNE_Clothing4.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/PNE_Clothing5.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/PNEClothing1.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/PNEClothing6.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/PNEClothing7.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/SiyosanthingClothing.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/T-shirtMockUp.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="clothing">
                    <img src="static/image/img/T-shirtMockUpParther2.jpg" alt="Clothing">
                </div>
                <div class="project-item" data-category="vehicle-branding">
                    <img src="static/image/img/vehicle1.jpg" alt="Vehicle Branding">
                </div>
                <div class="project-item" data-category="vehicle-branding">
                    <img src="static/image/img/vehicle2.jpg" alt="Vehicle Branding">
                </div>
                <div class="project-item" data-category="vehicle-branding">
                    <img src="static/image/img/mock_up.jpg" alt="Vehicle Branding">
                </div>
                <div class="project-item" data-category="vehicle-branding">
                    <img src="static/image/img/ISSA_cash_loans_BACK.jpg" alt="Vehicle Branding">
                </div>
                <div class="project-item" data-category="vehicle-branding">
                    <img src="static/image/img/ISSA_cash_loans2_strip.jpg" alt="Vehicle Branding">
                </div>
                <div class="project-item" data-category="logo">
                    <img src="static/image/img/FIVE-STAR-Logo.jpg" alt="Logo">
                </div>
                <div class="project-item" data-category="logo">
                    <img src="static/image/img/127573629_152871609929516_1740319120980397462_n.jpg" alt="Logo">
                </div>
                <div class="project-item" data-category="logo">
                    <img src="static/image/img/Sanna-Louisa-Logo.jpg" alt="Logo">
                </div>
                <div class="project-item" data-category="logo">
                    <img src="static/image/img/IMG-20210430-WA0009.jpg" alt="Logo">
                </div>
                <div class="project-item" data-category="logo">
                    <img src="static/image/img/Graphic1.jpg" alt="Logo">
                </div>
                <div class="project-item" data-category="logo">
                    <img src="static/image/img/ITHUBA_LOGO.png" alt="Logo">
                </div>
            </div>    
        </section>
        <footer>
            <div class="footer-container">
                <div class="address">
                    <h2>Address</h2>
                    <p>
                        1492 B4 ROAD <br>
                        Edendale A <br>
                        Pietermaritzburg, 3217 <br>
                        Kwa-Zulu Natal
                    </p>
                </div>
        
                <div class="social"> 
                    <h2>Social</h2>
                    <a href="#">
                        <img src="static/image/facebook.png" alt="Facebook" height="40px" width="40px">
                    </a>
                    <a href="#">
                        <img src="static/image/instagram.png" alt="Instagram" height="40px" width="40px">
                    </a>
                </div>
        
                <div class="support">
                    <h2>Support</h2>
                    <div class="contact-info">
                        <img src="static/image/phone-call.png" alt="Phone: +27 (78) 4643-899" title="+27 (78) 4643-899" height="30px" width="30px">
                        <img src="static/image/email.png" alt="Email: info@sisonkesolutions.co.za" title="info@sisonkesolutions.co.za" height="30px" width="30px">
                    </div>
                </div>
            </div>
        </footer>
</body>
<script src="static/js/portfolio.js"></script>
</html>
</div>

